@import url("https://use.fontawesome.com/releases/v5.3.1/css/all.css");

.loading {
  width: 4em;
  margin: 200px auto 0 auto;
  color: rgb(138, 30, 11);
}

.JokeList-getmore {
  margin: 1em 0;
  font-size: 150%;
  border-radius: 0.5em;
  background-color: rgb(184, 78, 59);
  color: white;
}